*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.registration-form{
    position: relative;
    background: #f9f9f9;
    background: #ffe;
    width: 50%;
    padding: 20px;

}
form{
    width: 100%;
    padding: 10px;
}
.form-header{
    width: 100%;
    text-align: center;
    background: teal;
    color: #fff;
    padding: 20px;
}
.registration-form .row{
    width: 100%;
    display: flex;
    gap: 10px;
}
.registration-form .input50{
    width: 50%;
    margin: 0 10px;
}
.registration-form .input100{
    width: 100%;
    margin: 0 10px;
}
.registration-form .row input, 
.registration-form .row select,  
.input-check,
.registration-form .row textarea{
    position: relative;
    border: 1px solid rgba(0,0 , 0, 0.2);
    color: #000;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 10px;
    resize: none;
}
.registration-form .row select option{
    background: #ffe;
    border: 3px solid teal;
}
.registration-form .row textarea{
    height: 150px;
}
.registration-form .row input[type="submit"]{
    background: teal;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}
.input-check{
    border: 1px solid rgba(0,0 , 0, 0.2);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.input-check label {
  flex: 7;
}

.input-check input[type="checkbox"] {
  flex: 1;
}



/* students Table */
.studets-show{
    background: #fff;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 100%;
    margin-top: 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: #ffe;
}
.table thead th{
    text-transform: uppercase;
    padding: 0.8rem;
    color: var(--main-color);
    font-weight: 900;
}
.table tbody tr td{
    color: #000;
    padding: 0.3rem 0.3rem;
    text-align: center !important;
    font-weight: 400;
}
.table tbody tr td:first-child{
    text-align: left;
}

.table tbody tr:nth-child(odd){
    background: teal;
}




/* Query Form Styles */
.query-form{
    margin: 0;
    width: 100%;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.query-form form{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.query-form form div div select{
    background: #ffe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 6px;
    font-size: 0.8rem;
}
#search-val{
    background: none;
    display: flex;
    justify-content: space-around;
    outline: none;
    border: 0;
    border-bottom:1.2px solid #ffe;
    align-items: center;
    padding: 0px 5px;
    font-size: 1rem;
    color: #fff;
    position: relative;
}


  
#search-val::placeholder {
  font-family: 'ZCOOL Kuaile', cursive;
  color: #ffe;
}

#searching-form{
    /* border-bottom:1.2px solid #ffe; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
