:root{
    --container-bg-color: #333;
    --left-bg-color: rgba(0, 128,128, 0.5);
    --left-button-hover-color: rgb(5, 201, 201);
    --right-bg-color: rgba(255, 255, 238, 0.5);
    --right-button-hover-color: rgba(92,92,92, 0.8);
    --hover-width:75%;
    --other-width:25%;
    --speed:1000ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}
#main-container{
    width: 100%;
    height: 100%;
     overflow-y: scroll;
     scroll-behavior: smooth;
     scroll-snap-type: y mandatory;
}
.viewport100{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    border-bottom: #ffe 2px solid;
    position: relative;
}

.registration-form{
    position: relative;
    width: 100%;
    padding: 5px;
}

.registration-form form{
    width: 70%;
    max-width: 520px;
    padding: 1px 5px;
    margin: auto;
    background: #ffe;
}
.form-header{
    width: 70%;
    max-width: 520px;
    text-align: center;
    background: teal;
    color: #fff;
    padding: 5px;
    margin: auto;
}
.registration-form .row{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}
.registration-form .input50{
    width: 50%;
    margin: 0 10px;
}
.registration-form .input100{
    width: 100%;
    margin: 0 10px;
}

.registration-form .input100 label{
    font-size: 0.8rem;
}

.registration-form .row input, 
.registration-form .row select,  
.registration-form .row .input100.input-check,
.registration-form .row textarea{
    position: relative;
    border: 1px solid rgba(0,0 , 0, 0.2);
    color: #000;
    background: transparent;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 5px 5px 0;
    resize: none;
}
.registration-form .row select option{
    background: #ffe;
    border: 3px solid teal;
}
.registration-form .row textarea{
    height: 50px;
}
.registration-form .row input[type="submit"]{
    background: teal;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}
.input100.input-check{
    border: 1px solid rgba(0,0 , 0, 0.2);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.input100.input-check label {
  flex: 7;
}

.input100.input-check input[type="checkbox"] {
  flex: 1;
}



/* students Table */
.studets-show{
    background: transparent;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 100%;
    margin-top: 0;
    border-collapse: collapse;
    border-spacing: 0;
    background: #ffe;
    padding: 10px;
    overflow-x: hidden;
}
.table thead th{
    text-transform: uppercase;
    padding: 0.8rem 0;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
.table tbody tr td{
    color: #000;
    padding: 0.3rem 0;
    text-align: center !important;
    font-weight: 400;
    font-size: 12px;
}



.table tbody tr td:first-child{
    text-align: left;
}

.table tbody tr:nth-child(odd){
    background: teal;
}




/* Query Form Styles */
.query-form{
    margin: 0;
    width: 100%;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.query-form form{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.query-form form div div select{
    background: #ffe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 6px;
    font-size: 0.8rem;
}
#search-val{
    background: none;
    display: flex;
    justify-content: space-around;
    outline: none;
    border: 0;
    border-bottom:1.2px solid #ffe;
    align-items: center;
    padding: 0px 5px;
    font-size: 1rem;
    color: #fff;
    position: relative;
}


  
#search-val::placeholder {
  font-family: 'ZCOOL Kuaile', cursive;
  color: #ffe;
}

#searching-form{
    /* border-bottom:1.2px solid #ffe; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Showcase Area */
.button{
    display: block;
    position:absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;    
    border: solid #fff 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
    box-sizing: unset;
}
.split.left .button:hover{
    background: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}
.split.right .button:hover{
    background: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}
.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    
   
}
.split.left:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

.split h1{
    font-size:2rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.split.right{
    right: 0;
    color: #000 !important;
}
.split.right h1{
    color: #333;
}
.split.right .button{
    display: block;
    position:absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #333;    
    border: solid #333 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
    box-sizing: unset;
    background: rgba(0,0 , 0, 0.2);
}

.split.right:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}


.split.left, .split.right, .split.left:before, .split.right:before{
    transition: var(--speed) all ease-in-out;
}

.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-left .right:before{
    z-index: 2 ;
}


.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--other-width);
}

.hover-right .left:before{
    z-index: 2 ;
}

/* scroll arrow */
.scroll-arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite ;
}
.scroll-arrow-up{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounceUp 5s infinite 2.5s;
    opacity: 0;
}
.showcase .scroll-arrow-up {
    display: none;
}

@keyframes fadeBounce{
    0%, 20%, 50%, 80%, 100%{
        opacity: 0;
        transform: translateY(-20px);
    }
    40%{
        opacity: 1;
        transform: translateY(0);
    }
} 

@keyframes fadeBounceUp {
    0%, 20%, 50%, 80%, 100% {
      opacity: 0;
      transform: translateY(0px);
    }
    40% {
      opacity: 1;
      transform: translateY(-20px);
    }
  }

  .back-arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.119);
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    transition: opacity 1s ease-in;
  }

  .back-arrow.show {
    opacity: 1;
  }
  .back-arrow img{
    /* position: relative; */
    width: 25px;
    height: 35px;
    margin: auto;
  }