<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Portal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
</head>
<body>
    
    <section class="registration-form">
        <h1 class="form-header">Students Registration Portal</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input50">
                    <input type="text" placeholder="First Name" name="firstname" title="firstname" required>
                </div>
                <div class="input50">
                    <input type="text" placeholder="Last Name" name="lastname" title="lastname" required>
                </div>
            </div>
            <div class="row">
                <div class="input50">
                    <input type="date" placeholder="Date of Birth" name="date_of_birth" title="date_of_birth" required>
                </div>
                <div class="input50">
                    <select name="gender" title="gender" required>
                        <option value="" disabled selected hidden>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <input type="text" placeholder="Contact Number" name="contact_number" title="contact_number" required>
                </div>
                <div class="input100">
                    <input type="email" placeholder="Email" name="email" title="email" required>
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <textarea placeholder="Address" name="address" title="address" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <select name="program" title="program" required>
                        <option value="" disabled selected hidden>Select Program of Study</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Business Administration">Business Administration</option>
                        <option value="Biology">Biology</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Medicine">Medicine</option>
                        <option value="Law">Law</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <input type="number" step="0.01" min="0" max="4" placeholder="GPA" name="gpa" title="gpa" required>
                </div>
            </div>
            <div class="row">
                <div class="input100 input-check">
                    <label for="accommodatio">Would you like On-Campus Accommodation</label>
                    <input type="checkbox" id="accommodation" name="accommodation" title="accommodation" Value={{True}} >
                    <input type="hidden" name="accommodation" value="False"> 
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <input type="file" name="academic_transcripts" title="academic_transcripts" required>
                    <label>Upload Academic Transcripts (PDF, Max file size: 10MB)</label>
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <input type="file" name="personal_doc" title="personal_doc">
                    <label>Upload (ID, Passport, Drivers` License) Documents (PDF, Max file size: 10MB)</label>
                </div>
            </div>
            <div class="row">
                <div class="input100">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </section>
    <section class="students-show">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>D.O.B</th>
                    <th>Gender</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Program</th>
                    <th>GPA</th>
                    <th>Accomodation</th>
                    <th>Academic Transcripts</th>
                    <th>Peronal document</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{student.firstname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.date_of_birth}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.contact_number}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.program}}</td>
                    <td>{{student.gpa}}</td>
                    <td>{{student.accommodation}}</td>
                    <td>
                        {% if student.academic_transcripts_unique_filename %}
                          <a href="{{ url_for('uploaded_file', filename=student.academic_transcripts_unique_filename) }}">{{ student.academic_transcripts_unique_filename }}</a>
                        {% else %}
                          N/A
                        {% endif %}
                      </td>
                      <td>
                        {% if student.personal_doc_unique_filename %}
                          <a href="{{ url_for('uploaded_file', filename=student.personal_doc_unique_filename) }}">{{ student.personal_doc_unique_filename }}</a>
                        {% else %}
                          N/A
                        {% endif %}
                      </td>
                </tr>
                {% endfor %}           
            </tbody> 
        </table>

    </section>




</html>